version: '3.8'

services:
  napcat-bot:
    build: .
    container_name: napcat-qq-bot
    restart: always
    network_mode: "host" # 使用宿主机网络，解决连接 localhost:3001 的问题
    # 挂载卷：持久化重要数据
    volumes:
      - ./cookies.json:/app/cookies.json  # 保持 B 站登录状态
      - ./config.json:/app/config.json    # 动态配置文件
      - ./subscriptions.json:/app/subscriptions.json # 保持订阅状态
      - ./logs:/app/logs                  # 查看日志
      - /root/napcat-data/QQ:/root/napcat-data/QQ                  # QQ数据目录映射
      - ./.env:/app/.env                  # 环境变量配置
    # 环境变量 (也可以直接读取 .env 文件)
    environment:
      - TZ=Asia/Shanghai                  # 设置时区为上海
